.spashoes-latest-posts {
    display: grid;
    gap: 1rem;
}

.spashoes-latest-posts .post-card {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: opacity 300ms;
    background-color: white;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.spashoes-latest-posts .post-card .post-card__image {
    height: 220px;
    overflow: hidden;
    display: block;
}

.spashoes-latest-posts .post-card .post-card__image img {
    min-height: 100%;
}

.spashoes-latest-posts .post-card .post-card__body {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    flex: 1;
}

.spashoes-latest-posts .post-card .post-card__title {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.spashoes-latest-posts .post-card .post-card__footer {
    padding: 0.5rem 1.5rem 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spashoes-latest-posts .post-card .post-card__date {
    color: rgba(0, 0, 0, 0.6);
    font-style: italic;
}

.spashoes-latest-posts .post-card .post-card__date i {
    margin-right: 0.3rem;
}

.spashoes-latest-posts .post-card .post-card__read-time {
    color: rgba(0, 0, 0, 0.6);
    font-style: italic;
}

.spashoes-latest-posts .post-card .post-card__read-time i {
    margin-right: 0.3rem;
}

.spashoes-latest-posts .post-card:hover {
    opacity: 0.8;
}

@media (min-width: 600px) {
    .spashoes-latest-posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .spashoes-latest-posts {
        grid-template-columns: repeat(3, 1fr);
    }
}
